  .friendsWraper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

.friendsItem {
  width: 100%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

@media screen and (min-width: 480px) {
  .friendsItem {
    flex-basis: calc((100% - 10px) / 2);
  }
}

@media screen and (min-width: 800px) {
  .friendsItem {
    flex-basis: calc((100% - 20px) / 3);
  }
}

@media screen and (min-width: 1440px) {
  .friendsItem {
    flex-basis: calc((100% - 40px) / 5);
  }
}